{% extends "app/base.html" %}
{% load static %}
{% block title %}About Us{% endblock title %}

{% block main-content %}
    <div class="container mt-3">
        <br>
        <h2 class="text-center">About us</h2>
        <br>
        <div class="row container">
            <p class="fs-4 text-center">jkdsbfjiwegbfjiowdnfgvuiorbfgijwedbgfuwefgiuwgvbidfnvbjndfu
                mdsvknwdjkgvn   dvjbwdojgvn wdv wdjvbwegv jdngvuendgiovwesd nv  
                fjvbndfjkn jnvjod jbnje jnn   djgnjkwdngjkdngjv</p>
        </div>
        <br><br>
        <h2 class="text-center">Mission</h2>
        <br>
        <div class="row container">
            <p class="fs-4 text-center">jkdsbfjiwegbfjiowdnfgvuiorbfgijwedbgfuwefgiuwgvbidfnvbjndfujv
                xzkvncjiosdbgajr
                xkvnskdogvwsognjkorgnwokfmnksdmfioerhgjkfngbjnvmxcnbvjioenkrlgsdf
                cmvkdsngvjkwengkosmdkvhsdjifnekwgjnidvjkd
                vbndjfvnc v jnbir  jdbnughweriuog jdngvuendgiovwe gjdhvu ergmn fvugdv ejvurbgvmsd vlsdmgvlkwdgni
            </p>
        </div>
    </div>
    
{% endblock main-content %}
